@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary: #e50000;
    --secondary: #050505;
    --border: rgba(255, 255, 255, 0.1);
  }
  body {
    @apply text-gray;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-white;
  }
}

@layer components {
  /* Header */
  header ul li.active {
    @apply bg-[#1a1a1a];
  }
  /* Hero */
  .hero-bg .overlay {
    background: linear-gradient(
      to bottom,
      rgba(5, 5, 5, 1),
      rgba(5, 5, 5, 0.5),
      rgba(5, 5, 5, 1)
    );
  }

  /* Arcodion */
  .arcodion-item {
    position: relative;
    &::before {
      background-image: linear-gradient(
        to right,
        rgba(229, 0, 0, 0),
        rgba(229, 0, 0, 0.5)
      );
      bottom: 0;
      content: "";
      display: inline-block;
      width: 50%;
      left: 0;
      height: 1px;
      position: absolute;
    }

    &::after {
      background-image: linear-gradient(
        to left,
        rgba(229, 0, 0, 0),
        rgba(229, 0, 0, 0.5)
      );
      bottom: 0;
      content: "";
      display: inline-block;
      width: 50%;
      left: 50%;
      height: 1px;
      position: absolute;
    }
  }

  .pricing div[role="tablist"] button[data-state="active"] {
    background-color: #343434;
    color: white;
  }

  /* Slider */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .slide .arrow {
    align-items: center;
    display: inline-flex;
    background-color: #141414;
    border-radius: .5rem;
    bottom: 20px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    justify-content: center;
    position: absolute;
    z-index: 10;
  }

  .slide .arrow.arrow-left {
    left: 50px;
  }

  .slide .arrow.arrow-right {
    right: 50px;
  }

  .slide .swiper-pagination {
    bottom: 32px !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1 {
    @apply text-[58px] font-bold leading-normal;
  }

  h2 {
    @apply text-[48px] font-bold leading-normal;
  }

  h3 {
    @apply text-[36px] font-bold leading-normal;
  }

  h4 {
    @apply text-[24px] font-bold leading-normal;
  }

  h5 {
    @apply text-[20px] font-bold leading-normal;
  }

  h6 {
    @apply text-[16px] font-bold leading-normal;
  }

  .limit-text-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }
 
}

/* Pagination Swiper */
.arrow svg {
  fill: #ffffff
}

span.swiper-pagination-bullet-active{
  background: #e50000 !important;
}