.swiper-covereffect {
  width: 100%;
}

.swiper-covereffect .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 370px;
  height: 490px;
}

.swiper-covereffect .swiper-slide img {
  border-radius: .5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
}

